@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome fdsajkl;djsafl;kjdsa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET </a>.</p>
</div>

<div id="like_button_container"></div>
<div id="like2_button_container"></div>


@section Scripts
{
    <script type="module" src="@Url.Content("~/js/like_button.js")"></script>

}